@import url('https://fonts.googleapis.com/css?family=Exo');

html, body {
    min-height: 100%;
    height: 100%;
    background: url('../img/background.png');
    background-size: auto;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    background-size: cover;
    background: rgba(0, 0, 0, 0.51) center center;
}

#logo img {
    margin: 0 auto;
    padding-top: 50px;
}

#icons {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.pure-u-lg-1-5 {
    margin: 0 auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.pure-u-lg-1-5:hover {
    transform: scale(1.2);
}

#serverip {
    margin: 0 auto;    
    margin-top: 60px;
}

#serverip h3 {
    cursor: pointer;
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    display: table;
    clear: both;
    margin: 0 auto;
}

#serverip h3:hover {
    transform: scale(1.2);
}

#serverip h1 {
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 14px 18px;
    border-radius: 5px;
    background: rgba(70,130,180,0.9);
    text-transform: uppercase;
    display: table;
    clear: both;
    margin: 0 auto;
    margin-top: 30px;
}

#serverip p {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: 'Exo', sans-serif;
}

#serverip h3 {
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-top: 16px;
}